:root {
  --font-family: "Roboto Mono", sans-serif;
  --second-family: "Roboto", sans-serif;

  --main-bg-color: #f5f5f5; /* Світлий фон для загальної атмосфери */
  --section-bg: #f0f4f8; /* Нейтральний блакитний для секцій */
  --second-bg: #b0e8b2; /* Більш природний зелений колір для акцентів */

  --title-color: #333333; /* Темно-сірий для заголовків */
  --main-color: #555555; /* Трохи світліший сірий для основного тексту */

  --btn-color: #ff6f61; /* Яскравий оранжевий для кнопок */
  --icon-color: #aad9ef; /* Світло-блакитний для іконок */
}
